<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exports - La Chataigneraie</title>
    <link rel="stylesheet" href="{{ asset('CSS/dashboard.css') }}">
</head>
<body>

<aside class="sidebar">
    <div class="sidebar-logo">
        <div class="logo-badge">
            <img src="{{ asset('Image/campus-logo.png') }}" alt="Logo Campus La Chataigneraie" />
        </div>
        <h2>La Chataigneraie</h2>
        <p>Suivi des stages</p>
    </div>

    {% include 'navigation.html.twig' with {
                'namePage' : 'exports' 
                'role' : role
                } %}

    <div class="sidebar-footer">
        <a href="{{ path('app_deco') }}" class="btn-deco">
            <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path d="M9 21H5a2 2 0 01-2-2V5a2 2 0 012-2h4"/>
                <polyline points="16 17 21 12 16 7"/>
                <line x1="21" y1="12" x2="9" y2="12"/>
            </svg>
            Deconnexion
        </a>
    </div>
</aside>

<main class="main">
    <div class="page-header-flex">
        <div>
            <h1>Exports</h1>
            <br>
            <p>Gérer les exports de données</p>
        </div>
    </div>

    <div class="content">
        <div class="export-actions">
            <!-- <a href="{{ path('app_etudiant_export_excel') }}" class="btn-add">Exporter les étudiants en Excel</a> -->
            <br>
            <!-- <a href="{{ path('app_entreprise_export_excel') }}" class="btn-add">Exporter les entreprises en Excel</a> -->
        </div>

        <div class="cards-grid">
			<div class="section-card">
				<h3>Liste des étudiants</h3>
				<p>Export complet de tout les étudiants</p>

                <a href="{{ path('app_etudiant_export_excel') }}" class="action-btn btn-green">
					<svg fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path d="M3 17v1a4 4 0 00+4+4H17 17v-0a4 4 0 00+4-4v-0.7"/>
                        <path d="M12.7 1v15q10 -10 0 0M10.7 1v15q-10 -10 0 0"/>
                    </svg>
					Exporter en Excel
				</a>
			</div>
            
            <div class="section-card">
                <h3>Liste des entreprises</h3>
                <p>Export complet de tout les entreprises</p>

                <a href="{{ path('app_entreprise_export_excel') }}" class="action-btn btn-green">
					<svg fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path d="M3 17v1a4 4 0 00+4+4H17 17v-0a4 4 0 00+4-4v-0.7"/>
                        <path d="M12.7 1v15q10 -10 0 0M10.7 1v15q-10 -10 0 0"/>
                    </svg>
					Exporter en Excel
				</a>
			</div>
		</div>
    </div>
</main>

</body>
</html>