<!DOCTYPE html>

<title>Liste Entreprise</title>

{% block body %}
    <h1>Liste d'entreprises</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.ENTNom }}</td>
                <td>{{ entreprise.ENTTelephone }}</td>
                <td>{{ entreprise.ENTEmail }}</td>
                <td>{{ entreprise.ENTAdresse }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}">Voir</a>
                    <a href="{{ path('app_entreprise_update', {'id': entreprise.id}) }}">Modification</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune entreprise trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_create') }}">Ajouter</a>
{% endblock %}
