<!DOCTYPE html>

<title>Entreprise</title>

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entreprise.ENTNom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entreprise.ENTTelephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entreprise.ENTEmail }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entreprise.VILID.VILnom }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ entreprise.VILID.VILCP }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.ENTAdresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_read') }}">Retour</a>

    <a href="{{ path('app_entreprise_update', {'id': entreprise.id}) }}">Modification</a>

    {{ include('entreprise_crud/_delete_form.html.twig') }}
{% endblock %}
