{{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="date-row">
        {{ form_row(form.STA_DateDebut) }}
        {{ form_row(form.STA_DateFin) }}
    </div>

    {{ form_row(form.ETU_ID, {'label': 'Étudiant *', 'placeholder': 'Sélectionnez un étudiant'}) }}
    {{ form_row(form.ENT_ID, {'label': 'Entreprise *', 'placeholder': 'Sélectionnez une entreprise'}) }}
    {{ form_row(form.EnseignantVisite, {'label': 'Enseignant de visite', 'placeholder': 'Sélectionnez un enseignant de visite'}) }}
    {{ form_row(form.EnseignantSuivi, {'label': 'Enseignant de suivi', 'placeholder': 'Sélectionnez un enseignant de suivi'}) }}
    {{ form_row(form.STA_Remarque) }}
    {{ form_row(form.STA_Commentaire) }}

    <div class="date-row">
        {{ form_row(form.STA_DateRetenu) }}
        <div class="form-spacer" aria-hidden="true"></div>
    </div>

    <div class="short-fields-row">
        {{ form_row(form.STA_Remerciement) }}
        {{ form_row(form.STA_Bilan) }}
        {{ form_row(form.STA_Attestation) }}
        {{ form_row(form.STA_Jury) }}
    </div>

    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
