<!DOCTYPE html>

<title>Stage</title>

{% block body %}
    <h1>Stage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id </th>
                <td>{{ stage.id }}</td>
            </tr>
            <tr>
                <th>Date de début </th>
                <td>{{ stage.STADateDebut ? stage.STADateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ stage.STADateFin ? stage.STADateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Remarque </th>
                <td>{{ stage.STARemarque }}</td>
            </tr>
            <tr>
                <th>Remerciement </th>
                <td>{{ stage.STARemerciement }}</td>
            </tr>
            <tr>
                <th>Bilan </th>
                <td>{{ stage.STABilan }}</td>
            </tr>
            <tr>
                <th>Attestation </th>
                <td>{{ stage.STAAttestation }}</td>
            </tr>
            <tr>
                <th>Jury </th>
                <td>{{ stage.STAJury }}</td>
            </tr>
            <tr>
                <th>Commentaire </th>
                <td>{{ stage.STACommentaire }}</td>
            </tr>
            <tr>
                <th>Date Retenu </th>
                <td>{{ stage.STADateRetenu ? stage.STADateRetenu|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stage_read') }}">Retour</a>

    <a href="{{ path('app_stage_update', {'id': stage.id}) }}">Modification</a>

    {{ include('stage_crud/_delete_form.html.twig') }}
{% endblock %}
