{% extends 'base.html.twig' %}
{% block body %}
    <div class="fond accueil">
        <header>
            <div class="logo" style="margin-bottom: 20px; display: flex; justify-content: center; height: 150px; align-items: center;">
                <img class="fit-picture" src="{{ asset('Image/campus-logo.png') }}" alt="Logo" style="max-width: 350px;" />
            </div>
        </header>

        <div class="login-box">
            {% if erreur %}
                <div class="erreur" style="color: red; margin-bottom: 10px;">
                    {{ erreur }}
                </div>
            {% endif %}
            
            {% if succes %}
                <div class="success" style="color: green; margin-bottom: 10px;">
                    {{ succes }}
                </div>
            {% endif %}


            <div class="form-container">

                {{ form_start(form) }}
                    <div class="marge-basse" style="text-align: center; margin-right: 50px; margin-bottom: 15px; height: 50px;">
                        <a style="margin-right: 125px;">{{ form_label(form.login, 'Login :') }}</a>
                        </br>
                        <a style="margin-right: 50px;">{{ form_widget(form.login, { 'attr': { 'class': 'form-control' } }) }}</a>
                    </div>

                    <div class="marge-basse" style="margin-bottom: 20px; text-align: center; height: 50px; margin-bottom: 15px;">
                        {# Ici, on utilise MotDePasse car c'est le nom dans ton InscriptionType #}
                        <a style="margin-right: 125px;">{{ form_label(form.MotDePasse, 'Mot de passe :') }}</a>
                        </br>
                        <a style="margin-right: 100px;">{{ form_widget(form.MotDePasse, { 'attr': { 'class': 'form-control' } }) }}</a>
                    </div>

                    <div class="marge-basse" style="text-align: center; margin-right: 50px; margin-bottom: 15px; height: 50px;">
                        {# Ici, Nom avec une majuscule #}
                        <a style="margin-right: 125px;">{{ form_label(form.Nom, 'Nom :') }}</a>
                        </br>
                        <a style="margin-right: 50px;">{{ form_widget(form.Nom, { 'attr': { 'class': 'form-control' } }) }}</a>
                    </div>

                    <div class="marge-basse" style="text-align: center; margin-right: 50px; margin-bottom: 15px; height: 50px;">
                        {# Ici, Prenom avec une majuscule #}
                        <a style="margin-right: 125px;">{{ form_label(form.Prenom, 'Prénom :') }}</a>
                        </br>
                        <a style="margin-right: 50px;">{{ form_widget(form.Prenom, { 'attr': { 'class': 'form-control' } }) }}</a>
                    </div>

                    <!--
                    <div class="align-centre">
                        {# Ici, Save avec une majuscule #}
                        {{ form_widget(form.Save, { 'attr': { 'class': 'btn-submit' } }) }}
                    </div>
                    -->

                    <button type="submit" class="btn btn-primary-gradient w-100" style="display: block; margin: auto; height: 50px; width: 200px; border-radius: 50px;">
                        <a>S'inscrire</a>
                        <svg class="btn-arrow" fill="none" viewBox="0 0 24 24" stroke="currentColor" style="width: 75px; height: 25px;">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                        </svg>
                    </button>
                
                    <div class="marge-basse" style="text-align: center; margin-top: 15px;">
                        <a href="{{ path('app_accueil') }}">Retour</a>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}