<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nouvel étudiant – La Châtaigneraie</title>
        <link rel="stylesheet" href="{{ asset('CSS/dashboard.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/utilisateur.css') }}">
        <link rel="stylesheet" href="{{ asset('CSS/utilisateur_form.css') }}">
    </head>
    <body>

        <aside class="sidebar">
            <div class="sidebar-logo">
                <div class="logo-badge">
                    <img src="{{ asset('Image/campus-logo.png') }}" alt="Logo Campus La Chataigneraie"/>
                </div>
                <h2>La Châtaigneraie</h2>
                <p>Suivi des stages</p>
            </div>

            {% include 'navigation.html.twig' with {
                'namePage' : 'etudiant' 
                } %}

            <div class="sidebar-footer">
                <a href="{{ path('app_deco') }}" class="btn-deco">
                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path d="M9 21H5a2 2 0 01-2-2V5a2 2 0 012-2h4"/>
                        <polyline points="16 17 21 12 16 7"/>
                        <line x1="21" y1="12" x2="9" y2="12"/>
                    </svg>
                    Déconnexion
                </a>
            </div>
        </aside>

        <main class="main">

            <div class="page-header-flex">
                <div>
                    <h1>Nouvel Étudiant</h1>
                    <p>Créer un nouveau profil d'étudiant.</p>
                </div>
            

                <a href="{{ path('app_etudiant_read') }}" class="btn-outline-back">
                    <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
                    </svg>
                    Retour à la liste
                </a>
            </div>

            <div class="form-wrapper">
                <div class="form-card">
                    {{ include('etudiant_crud/form.html.twig') }}
                </div>
            </div>
        </main>
    </body>
</html>