<!DOCTYPE html>

<title>Etudiant</title>

{% block body %}
    <h1>Etudiant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etudiant.id }}</td>
            </tr>
            <tr>
                <th>ETU_Nom</th>
                <td>{{ etudiant.ETUNom }}</td>
            </tr>
            <tr>
                <th>ETU_Prenom</th>
                <td>{{ etudiant.ETUPrenom }}</td>
            </tr>
            <tr>
                <th>ETU_Promotion</th>
                <td>{{ etudiant.ETUPromotion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etudiant_c_r_u_d_index') }}">back to list</a>

    <a href="{{ path('app_etudiant_c_r_u_d_edit', {'id': etudiant.id}) }}">edit</a>

    {{ include('etudiant_crud/_delete_form.html.twig') }}
{% endblock %}
