<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Détails Utilisateur – La Châtaigneraie</title>
		<link rel="stylesheet" href="{{ asset('CSS/dashboard.css') }}">
		<link rel="stylesheet" href="{{ asset('CSS/utilisateur.css') }}">
	</head>
	<body>

		<aside class="sidebar">
			<div class="sidebar-logo">
				<div class="logo-badge">
					<img src="{{ asset('Image/campus-logo.png') }}" alt="Logo Campus La Chataigneraie"/>
				</div>
				<h2>La Châtaigneraie</h2>
				<p>Suivi des stages</p>
			</div>

			{% include 'navigation.html.twig' with {
            	'namePage' : 'secteuractivite' 
            } %}
            

			<div class="sidebar-footer">
				<a href="{{ path('app_deco') }}" class="btn-deco">
					<svg fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
						<path d="M9 21H5a2 2 0 01-2-2V5a2 2 0 012-2h4"/>
						<polyline points="16 17 21 12 16 7"/>
						<line x1="21" y1="12" x2="9" y2="12"/>
					</svg>
					Déconnexion
				</a>
			</div>
		</aside>

        <main class="main">

            <div class="page-header-flex">
                <div>
                    <h1>Détails du secteur d'activité</h1>
                    <p>Informations sur le secteur d'activité.</p>
                </div>
			</div>
            
			<div class="profil-wrapper">			

				<div class="profile-details-card">
					<div class="section-header">
						<h3>
							<svg fill="none" viewbox="0 0 24 24" stroke="currentColor" stroke-width="2">
								<path stroke-linecap="round" stroke-linejoin="round" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"/>
							</svg>
							Informations
						</h3>
					</div>

					<div class="info-grid">
						<div class="info-group">
							<h4>ID</h4>
							<p>{{ secteuractivite.id }}</p>
						</div>
						<div class="info-group">
							<h4>Libelle</h4>
							<p>{{ secteuractivite.saLibelle }}</p>
						</div>
					</div>
				</div>

				<div class="profile-actions-bar">
					<a href="{{ path('app_secteuractivite_read') }}" class="btn-action btn-outline">
						Retour à la liste
					</a>

					<div class="actions-right">
						<a href="{{ path('app_secteuractivite_edit', {'id': secteuractivite.id}) }}" class="btn-action btn-primary">
							Modifier
						</a>

						<div class="delete-form-wrapper">
							{{ include('secteuractivite/delete_form.html.twig') }}
						</div>
					</div>
				</div>

			</div>

        </main>
    </body>